html,
body {
	background: #19191B;
	font-family: 'Exo 2', sans-serif !important;
}
h2 {
	color: #FFF;
}
.uk-card-default .uk-card-title {
    color: #FFF;
    font-weight: bold;
}
.uk-card {
	color: #FFF !important;
	background: #18181A;
}
.uk-card-default {
	box-shadow: 0 3px 10px rgba(255, 255, 255, 0.08);
}
.uk-text-secondary {
	color: #FFF !important;
}
.uk-list-striped > li:nth-of-type(odd) {
    background: #303030;
}
.uk-list-striped>li:nth-of-type(odd) {
    border-top: 0;
    border-bottom: 0;
}
.uk-input,
.uk-textarea,
.uk-select {
	background: #19191B;
	border: 1px solid #b0b0b0;
	color: #FFF;
}
.uk-input:focus,
.uk-textarea:focus,
.uk-select:focus {
	background: #3d3d40;
	color: #FFF;
}
.uk-select,
.uk-select:focus {
	color: #FFF;
}
.uk-form-controls > select.uk-select > option.option-white {
	color: #FFF;
}
ul.uk-subnav > li.uk-active > .badge-active-grey {
	background: #ccc;
}
ul.uk-subnav > li.uk-active > .badge-active-dark {
	background: #111;
}
.uk-tab > li.uk-active > a {
	color: #fff;
}
.uk-form-label {
	color: #fff;
}
a.uk-button-text {
	color: #fff;
}
a.uk-button-text:hover,
a.uk-button-text:focus {
	color: #cecece;
}
.uk-modal-body,
.uk-modal-dialog {
	background: #19191B;
}
.uk-modal-body h3 {
	color: #FFF;
}
.uk-button-default {
	color: #FFF;
	background: #29292B;
}
.uk-button-default:hover {
	color: #EEE;
	background: #29292B;
}
.uk-modal-close-full {
	background: #19191B;
}
.uk-input:disabled {
	background: #454545;
	border: 1px solid #bebebe;
}
.uk-subnav {
	background: #19191B;
}