body {
	font-size: 18px;
}
.top h2 {
	word-break: break-all;
}
.top-img-wigth {
	width: 30%;
}
.badge-green {
	background: #32d296;
}
.badge-red {
	background: #f0506e;
}
.badge-grey {
	background: #ccc;
}
.uk-container .uk-button {
	text-transform: capitalize;
	font-size: 15px;
}
a.no-underline:hover {
	text-decoration: none;
}
.uk-button-danger {
	background: #D9534F;
}
.uk-button-success {
	background: #47A447;
	color: #fff;
	border: 1px solid transparent;
}
ul.uk-subnav > li.uk-active > .badge-active-grey {
	background: #ccc;
}
ul.uk-subnav > li.uk-active > .badge-active-dark {
	background: #222;
}
.uk-button {
	text-transform: none;
}