<!DOCTYPE html>
<html lang="ru">
<head>
	<title>Команда</title>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="/static/img/sova.png" type="image/png">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/static/css/uikit.min.css">
	<link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
	<div class="wrapper">
        <div class="uk-container">
            <div class="uk-margin-top uk-animation-slide-top-medium uk-flex uk-flex-between">
                <div class="uk-width-1-6" id="sova-box">
                    <img src="/static/img/sova.png" class="top-img-wigth change-theme">
                </div>
            </div>
        </div>
		<div class="uk-container uk-margin-top">
			<a href="/" class="uk-width-1-6 uk-text-large no-underline"><span uk-icon="icon: chevron-left"></span> Назад</a>
			<h2>Разработали и написали</h2>
		</div>
		<div class="uk-container uk-margin-top uk-flex uk-flex-top uk-flex-between uk-flex-wrap">
			<div class="uk-card uk-card-default uk-margin-bottom uk-width-2-5 uk-margin-small-right">
	            <div class="uk-card-media-top">
	                <img src="/static/img/timur.jpg" alt="">
	            </div>
	            <div class="uk-card-body">
	                <h3 class="uk-card-title">Батрутдинов Тимур</h3>
	                <p>Профессиональный игрок в Minecraft. Любит флексить и смотреть смешариков.</p>
	                <div class="uk-inline">
	                	<span uk-icon="icon: instagram"></span>
	                	<a target="_blank" href="https://www.instagram.com/timickb/">timickb</a>
	                </div>
	            </div>
	        </div>
	        <div class="uk-card uk-card-default uk-margin-bottom uk-width-2-5 uk-margin-small-right">
	            <div class="uk-card-media-top">
	                <img src="/static/img/alex.jpg" alt="">
	            </div>
	            <div class="uk-card-body">
	                <h3 class="uk-card-title">Донцов Алексей</h3>
	                <p>Ему бы в филологи. Научит как правильно говорить Яндекс и когда применять слово "срань".</p>
	                <div class="uk-inline">
	                	<span uk-icon="icon: instagram"></span>
	                	<a target="_blank" href="https://www.instagram.com/somvyd/">somvyd</a>
	                </div>
	            </div>
	        </div>
	        <div class="uk-card uk-card-default uk-margin-bottom uk-width-2-5 uk-margin-small-right">
	            <div class="uk-card-media-top">
	                <img src="/static/img/nataha.jpg" alt="">
	            </div>
	            <div class="uk-card-body">
	                <h3 class="uk-card-title">Митясова Наталья</h3>
	                <p>Дезигнер проекта. И единственная девушка.</p>
	                <div class="uk-inline">
	                	<span uk-icon="icon: instagram"></span>
	                	<a target="_blank" href="https://www.instagram.com/little.mit/">little.mit</a>
	                </div>
	            </div>
	        </div>
	        <div class="uk-card uk-card-default uk-margin-bottom uk-width-2-5 uk-margin-small-right">
	            <div class="uk-card-media-top">
	                <img src="/static/img/roma.jpg" alt="">
	            </div>
	            <div class="uk-card-body">
	                <h3 class="uk-card-title">Семенов Роман</h3>
	                <p>Царь. У него так на футболке написано. А так бекендер.</p>
	                <div class="uk-inline">
	                	<span uk-icon="icon: github"></span>
	                	<a target="_blank" href="https://github.com/pomah3">pomah3</a>
	                </div>
	            </div>
	        </div>
	        <div class="uk-card uk-card-default uk-margin-bottom uk-width-2-5 uk-margin-small-right">
	            <div class="uk-card-media-top">
	                <img src="/static/img/rinat.jpg" alt="">
	            </div>
	            <div class="uk-card-body">
	                <h3 class="uk-card-title">Фархутдинов Ринат</h3>
	                <p>Фронтендер. По-настоящему именно он пилил дизаен интерфейса. Болтает мама не горюй.</p>
	                <div class="uk-inline">
	                	<span uk-icon="icon: instagram"></span>
	                	<a target="_blank" href="https://www.instagram.com/rinat_itl/">rinat_itl</a>
	                </div>
	            </div>
	        </div>
	        <div class="uk-card uk-card-default uk-margin-bottom uk-width-2-5 uk-margin-small-right">
	            <div class="uk-card-media-top">
	                <img src="/static/img/danis.jpg" alt="">
	            </div>
	            <div class="uk-card-body">
	                <h3 class="uk-card-title">Хазиев Данис</h3>
	                <p>Цветочек, сидит около окошка. Пишет много кода.</p>
	                <div class="uk-inline">
	                	<span uk-icon="icon: github"></span>
	                	<a target="_blank" href="https://github.com/danisHaz">danisHaz</a>
	                </div>
	            </div>
	        </div>

	        <div class="uk-card uk-card-default uk-margin-bottom uk-width-2-5 uk-margin-small-right">
	            <div class="uk-card-media-top">
	                <img src="/static/img/maks.jpg" alt="">
	            </div>
	            <div class="uk-card-body">
	                <h3 class="uk-card-title">Моисеенко Максим</h3>
	                <p>Не знает питон, хтмл. Но зато пьет лимонад.</p>
	                <div class="uk-inline">
                        <span uk-icon="icon: close"></span>
                        <a>С ним лучше не связываться!</a>
	                </div>
	            </div>
	        </div>
		</div>
	</div>

	<footer>
	</footer>

	<script
		src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous">
	</script>
	<script src="/static/js/uikit.min.js"></script>
    <script src="/static/js/uikit-icons.min.js"></script>
    <script src="/static/js/theme.js"></script>
    <script src="/static/js/upload.js"></script>

</body>
</html>