<!DOCTYPE html>
<html lang="ru">
<head>
	<title>{%block title %} {%endblock%}</title>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="/static/img/sova.png" type="image/png">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/static/css/uikit.min.css">
	<link rel="stylesheet" href="/static/css/main.css">
</head>
<body>

	<div id="modal-full" class="uk-modal-full uk-modal" uk-modal>
	    <div class="uk-modal-dialog uk-flex uk-flex-center uk-flex-middle" uk-height-viewport>
	        <button class="uk-modal-close-full" type="button" uk-close></button>
	        <div class="js-upload uk-placeholder uk-text-center">
	            <span uk-icon="icon: cloud-upload"></span>
	            <span class="uk-text-middle">Перетащите файл в эту область или</span>
	            <div uk-form-custom>
	                <input type="file" multiple>
	                <span class="uk-link">выберите через проводник</span>
	            </div>
		        <progress id="js-progressbar" class="uk-progress" value="0" max="100" hidden></progress>
	        </div>
	    </div>
	</div>

	<div class="uk-container">
	    <div class="uk-margin-top uk-animation-slide-top-medium uk-flex uk-flex-between">
		    <div class="uk-width-1-6" id="sova-box">
	            <img src="/static/img/sova.png" class="top-img-wigth change-theme">
	    	</div>
			{% if error %}
		<div class="uk-alert-danger uk-width-1-2 uk-align-center uk-padding-small uk-animation-slide-top-medium" uk-alert>
		    <a class="uk-alert-close" uk-close></a>
		    <span>{{ error }}</span>
		</div>
	{% endif %}

	        <div class="uk-width-auto uk-flex uk-flex-middle">
	            <div class="uk-inline uk-margin-right">
	                <span class="uk-text-secondary uk-margin-small-right">{{ user.username }}</span>
	                <a href="/logout" class="uk-button-link">Выйти</a>
	            </div>


		            <div class="uk-inline">
		                <span class="uk-form-icon" uk-icon="icon: search"></span>
		                <input class="uk-input" name="url" placeholder="Добавить домен">
		                <a class="uk-form-icon uk-form-icon-flip" href="#modal-full" uk-icon="icon: plus" uk-toggle></a>
		            </div>
	        </div>
	    </div>
	</div>
	{% block content %}{% endblock %}

	<footer>
        <a href
	</footer>

	<script
		src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous">
	</script>
	<script src="/static/js/uikit.min.js"></script>
    <script src="/static/js/uikit-icons.min.js"></script>
    <script src="/static/js/theme.js"></script>
    <script src="/static/js/upload.js"></script>

</body>
</html>