<!DOCTYPE html>
<html lang="ru">
<head>
	<title>Профиль</title>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="../img/sova.png" type="image/x-icon">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../css/uikit.min.css">
	<link rel="stylesheet" href="../css/uikit-rtl.min.css">
	<link rel="stylesheet" href="../css/main.css">
</head>
<body>
	<div class="uk-container">
	    <div class="row uk-margin-top uk-animation-slide-top-medium">
	        <a href="" class="uk-align-left">
	            <img src="../img/sova.png" class="top-img-wigth" alt="">
	        </a>

	        <div class="uk-align-right uk-text-bottom">
	            <div class="uk-inline uk-margin-right">
	                <span class="uk-text-secondary uk-margin-small-right">Здравствуйте, {{ user.username }}</span>
	                <a href="" class="uk-button-link">Выйти</a>
	            </div>

	            <div class="uk-inline">
	                <span class="uk-form-icon" uk-icon="icon: search"></span>
	                <input class="uk-input" placeholder="Добавить домен">
	            </div>
	        </div>
	    </div>
	</div>
	{% block content %}{% endblock %}
	
	<script src="../js/uikit.min.js"></script>
    <script src="../js/uikit-icons.min.js"></script>

</body>
</html>
