{% extends "base.html" %}

{% block title %}
    {{ site.url }}
{% endblock %}

{% block content %}
        <div id="modal-example" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <form action="/ban/site/{{ site.id}}" method="POST" class="uk-form-stacked uk-flex uk-flex-column">
                    <h3>Выберите тип</h3>
                    <div class="uk-form-controls">
                        <select class="uk-select" id="form-stacked-select" name="site_type">
                            <option class="option-white" value="fakebank_ru">Лжебанк (рус)</option>
                            <option class="option-white" value="fakebank_en">Лжебанк (анг)</option>
                            <option class="option-white" value="fakesurvey">Опросник</option>
                            <option class="option-white" value="fakectc">C2C переводы</option>
                            <option class="option-white" value="fakesocial">Лжесоциалка</option>
                            <option class="option-white" value="faketick">Билетник</option>
                            <option class="option-white" value="fakemfo_en">Лжемфо (анг)</option>
                            <option class="option-white" value="fakelombard">Лжеломбард</option>
                            <option class="option-white" value="fakesmth">Прочее (рус)</option>
                            <option class="option-white" value="fakesmth_en">Прочее (анг)</option>
                        </select>
                    </div>

                    <h3>Напишите комментарий</h3>
                    <div class="uk-text-secondary">
                       <textarea name="comment" id="" class="uk-textarea" placeholder="Комментарий"></textarea>
                    </div>
                    <h4>E-mail регистратора:</h4>
                    {% if site.reg_mail != None %}
                    {{ site.reg_mail }}
                    {% else %}
                    <input type="text" class="uk-input" placeholder="Введите email регистратора">
                    {% endif %}
                    <p class="uk-text-right">
                        <input type="submit" value="Заблокировать" class="uk-button uk-button-danger">
                        <button class="uk-button uk-button-default uk-modal-close" type="button">Отмена</button>
                    </p>
                </form>
            </div>
        </div>
        <div class="uk-container uk-margin-top uk-margin-bottom">
            <a href="/" class="uk-width-1-6 uk-text-large no-underline"><span uk-icon="icon: chevron-left"></span> Назад</a>
            <div class="uk-card uk-card-default uk-card-body uk-margin-top uk-width-1-1uk-animation-slide-bottom-small">
                <div class="top uk-flex uk-flex-bottom uk-margin-bottom">
                    <div class="uk-width-1-3">
                        <a href="http://{{ site.url }}" target="_blank" class="uk-button button-not-capitalise uk-margin-remove-bottom uk-padding-remove">{{ site.url }}</a>
                    </div>
                    <span class="uk-text-muted">
                        {% if site.date != None %}
                        {{ site.date }}</span>
                        {% endif %}
                </div>
                <div class="uk-body">
                    <div class="uk-text-secondary">
                        <span class="uk-text-bold"></span>
                        <span class="uk-text-secondary"></span>
                    </div>
                    <div class="uk-text-secondary">
                        <span class="uk-text-bold"></span>
                        <span class="uk-text-danger"></span>
                    </div>
                    <div class="uk-text-secondary">
                        <span class="uk-text-bold"></span>
                        <span class="uk-text-success"></span>
                    </div>

                    {% if site.status.name != 'PROCESSING' %}
                    <div class="uk-text-secondary uk-margin-small-top">
                        <ul uk-tab>
                            <li class="uk-active">
                                <a href="#">
                                {% if site.score != None %}
                                    Score:<strong> {{ site.score }} </strong>
                                {% else %}
                                    Score: 0
                                 {% endif %}
                                </a>
                            </li>
                            <li><a href="#">Whois</a></li>
                            <li><a href="#">Webarchive</a></li>
                            <li><a href="#">Скриншоты</a></li>
                        </ul>
                        <ul class="uk-switcher uk-margin">
                            <li class="uk-active">
                                <ul class="uk-list uk-list-striped">
                                    {% if criterions != None %}

                                        {% for key, value in criterions.items() recursive %}
                                    <li> <strong>{{ key }} очков за</strong>: {{ value }}</li>
                                        {% endfor %}

                                    {% else %}
                                    <li>
                                        Критерии подозрения отсутсвуют.
                                    </li>
                                    {% endif %}
                                </ul>

                            </li>
                            <li>
                                <ul class="uk-list uk-list-striped">
                                    {% for key in whois_data %}
                                    {% if whois_data[key] != '' and whois_data[key] != ' ' %}
                                    <li><strong>{{ key }}:</strong> {{ whois_data[key] }}</li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>

                            <li>

                                <form class="uk-form-horizontal">
                                    <div class="uk-margin uk-width-1-2">
                                        <label class="uk-form-label" for="form-stacked-text">
                                            Дата начала
                                        </label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input" id="form-stacked-text" type="date">
                                        </div>
                                    </div>
                                    <div class="uk-margin uk-width-1-2">
                                        <label class="uk-form-label" for="form-stacked-text">
                                            Дата окончания
                                        </label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input" id="form-stacked-text" type="date">
                                        </div>
                                    </div>
                                </form>


                                <ul class="uk-list uk-list-striped">
                                    {% for web in webarchive %}
                                    <li>
                                        Дата:{{ web[0][0:4] }}.{{ web[0][4:6] }}.{{ web[0][6:8] }} &nbsp;&nbsp;  URL:{{ web[1] }}&nbsp;&nbsp;HTML Lenght: {{ web[2] }}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li>
                                <img src="/site_screens/{{ site.id }}.png" width="800" height="600">
                            </li>
                        </ul>
                    </div>
                    {% else %}
                    <strong> Данный домен находится на обработке системой.<br>
                        Вы можете дождаться окончания проверки либо вынести решение сами.<br><br><br>
                    </strong>
                    {% endif %}
                    <a href="#modal-example" class="uk-button uk-button-danger" uk-toggle>Заблокировать</a>
                    <a href="/clear/site/{{ site.id }}" class="uk-button uk-button-success">Оставить</a>
                </div>
            </div>
        </div>
        <script src="/static/js/uikit.min.js"></script>
        <script src="/static/js/uikit-icons.min.js"></script>
{% endblock %}
