{% extends "base.html" %}

{% block content %}
<div class="uk-container">
    <div class="row uk-margin-top uk-animation-slide-top-medium">
        <a href="" class="uk-align-left">
            <img src="img/sova.png" class="top-img-wigth" alt="">
        </a>

        <div class="uk-align-right uk-text-bottom">
            <div class="uk-inline uk-margin-right">
                <span class="uk-text-secondary uk-margin-small-right">Здравствуйте, {{ user.username }}</span>
                <a href="" class="uk-button-link">Выйти</a>
            </div>

            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: search"></span>
                <input class="uk-input" placeholder="Добавить домен">
            </div>
        </div>
    </div>
</div>
{% endblock %}
